# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Envs & IDE
.venv/
venv/
.env
.idea/
.vscode/
.DS_Store

# App/runtime
data/audio/
data/transcripts/
outputs/
outputs/runs/
.streamlit/

# Caches & models
cache/
.hf_cache/
hub/
.whisper/
*.bin
*.pt
*.safetensors

# OS / misc
Thumbs.db
